@charset "utf-8";
/* CSS Document */

/*--------------------------------------ENLACES IMGANES EN GRILLA*/

.img-1{
	width: 450px;
	height: 300px;
	background-image:url("../imagenes-mobiliario-bancos/banco_anglo_01.jpg");
}

.img-1:hover{
	transition: 0.1s;
	background-image: url("../imagenes-mobiliario-bancos/banco_anglo_02.jpg");
}



.img-2{
	width: 450px;
	height: 300px;
	background-image:url("../imagenes-mobiliario-bancos/banco_moe_01.jpg");
}

.img-2:hover{
	transition: 0.1s;
	background-image: url("../imagenes-mobiliario-bancos/banco_moe_02.jpg");
}

.img-3{
	width: 450px;
	height: 300px; 
	background-image: url("../imagenes-mobiliario-bancos/banco_flug_01.jpg")
}

.img-3:hover{
	transition: 0.1s;
	background-image: url("../imagenes-mobiliario-bancos/banco_flug_02.jpg");
}

.img-4{
	width: 450px;
	height: 300px;
	background-image: url("../imagenes-mobiliario-bancos/banco_dotsh_01.jpg");
}

.img-4:hover{
	transition: 0.1s;
	background-image: url("../imagenes-mobiliario-bancos/banco_dotsh_02.jpg");
}



.img-5{
	width: 450px;
	height: 300px;
	background-image: url("../imagenes-mobiliario-bancos/banco_arco_01.jpg");
}

.img-5:hover{
	transition: 0.1s;
	background-image: url("../imagenes-mobiliario-bancos/banco_arco_02.jpg")
}



.img-6{
	width: 450px;
	height: 300px;
	background-image: url("../imagenes-mobiliario-bancos/banco_luka_01.jpg");
}

.img-6:hover{
	transition: 0.1s;
	background-image: url("../imagenes-mobiliario-bancos/banco_luka_02.jpg");
}



.img-7{
	width: 450px;
	height: 300px;
	background-image: url("../imagenes-mobiliario-bancos/banco_peble_01.jpg");
}

.img-7:hover{
	transition: 0.1s;
	background-image: url("../imagenes-mobiliario-bancos/banco_peble_02.jpg");
}


.img-8{
	width: 450px;
	height: 300px;
	background-image: url("../imagenes-mobiliario-bancos/banco_galo_01.jpg");
}

.img-8:hover{
	transition: 0.1s;
	background-image: url("../imagenes-mobiliario-bancos/banco_galo_02.jpg");
}

.img-9{
	width: 450px;
	height: 300px;
	background-image: url("../imagenes-mobiliario-bancos/banco_mold_01.jpg");
}

.img-9:hover{
	transition: 0.1s;
	background-image: url("../imagenes-mobiliario-bancos/banco_mold_02.jpg");
}

.img-10{
	width: 450px;
	height: 300px;
	background-image: url("../imagenes-mobiliario-bancos/banco_box_01.jpg");
}

.img-10:hover{
	transition: 0.1s;
	background-image: url("../imagenes-mobiliario-bancos/banco_box_02.jpg");
}




.img-11{
	width: 450px;
	height: 300px;
	background-image:url("../imagenes-mobiliario-bancos/banco_logan_01.jpg");
}

.img-11:hover{
	transition: 0.1s;
	background-image: url("../imagenes-mobiliario-bancos/banco_logan_02.jpg")
}




.img-12{
	width: 450px;
	height: 300px;
	background-image: url("../imagenes-mobiliario-bancos/banco_dn_01.jpg");
}

.img-12:hover{
	transition: 0.1s;
	background-image: url("../imagenes-mobiliario-bancos/banco_dn_02.jpg");
}




.img-13{
	width: 450px;
	height: 300px;
	background-image:url("../imagenes-mobiliario-bancos/banco_laminar_01.jpg");
}

.img-13:hover{
	transition: 0.1s;
	background-image: url("../imagenes-mobiliario-bancos/banco_laminar_02.jpg")
}

.img-14{
	width: 450px;
	height: 300px;
	background-image: url("../imagenes-mobiliario-bancos/banco_frame_01.jpg");
}

.img-14:hover{
	transition: 0.1s;
	background-image: url("../imagenes-mobiliario-bancos/banco_frame_02.jpg");
}


.img-15{
	width: 450px;
	height: 300px;
	background-image: url("../imagenes-mobiliario-bancos/banco_lazo_01.jpg");
}

.img-15:hover{
	transition: 0.1s;
	background-image: url("../imagenes-mobiliario-bancos/banco_lazo_02.jpg");
}



.img-16{
	width: 450px;
	height: 300px;
	background-image: url("../imagenes-mobiliario-bancos/banco_quad_01.jpg");
}

.img-16:hover{
	transition: 0.1s;
	background-image: url("../imagenes-mobiliario-bancos/banco_quad_02.jpg");
}



.img-17{
	width: 450px;
	height: 300px;
	background-image: url("../imagenes-mobiliario-bancos/banco_front_01.jpg");
}

.img-17:hover{
	transition: 0.1s;
	background-image: url("../imagenes-mobiliario-bancos/banco_front_02.jpg");
}


.img-18{
	width: 450px;
	height: 300px;
	background-image: url("../imagenes-mobiliario-bancos/banco_alas_01.jpg");
}

.img-18:hover{
	background-image: url("../imagenes-mobiliario-bancos/banco_alas_02.jpg");
}


.img-19{
	width: 450px;
	height: 300px;
	background-image: url("../imagenes-mobiliario-bancos/banco_floyd_01.jpg");
	
}

.img-19:hover{
	transition: 0.1s;
	background-image: url("../imagenes-mobiliario-bancos/banco_floyd_02.jpg");
}

.img-20{
	width: 450px;
	height: 300px;
	background-image: url("../imagenes-mobiliario-bancos/banco_emoti_01.jpg");
}

.img-20:hover{
	transition: 0.1s;
	background-image: url("../imagenes-mobiliario-bancos/banco_emoti_02.jpg");
}

.img-21{
	width: 450px;
	height: 300px;
	background-image: url("../imagenes-mobiliario-bancos/banco_petalo_01.jpg");
}

.img-21:hover{
	transition: 0.1s;
	background-image: url("../imagenes-mobiliario-bancos/banco_petalo_02.jpg");
}

.img-22{
	width: 450px;
	height: 300px;
	background-image: url("../imagenes-mobiliario-bancos/banco_tetris_01.jpg");
}

.img-22:hover{
	transition: 0.1s;
	background-image: url("../imagenes-mobiliario-bancos/banco_tetris_02.jpg");
}

.img-23{
	width: 450px;
	height: 300px;
	background-image: url("../imagenes-mobiliario-bancos/banco_retro_01.jpg");
}

.img-23:hover{
	transition: 0.1s;
	background-image: url("../imagenes-mobiliario-bancos/banco_retro_02.jpg");
}

.img-24{
	width: 450px;
	height: 300px;
	background-image: url("../imagenes-mobiliario-bancos/banco_woo_01.jpg");
}

.img-24:hover{
	transition: 0.1s;
	background-image: url("../imagenes-mobiliario-bancos/banco_woo_02.jpg");
}


.img-25{
	width: 450px;
	height: 300px;
	background-image: url("../imagenes-mobiliario-bancos/banco_kinder_01.jpg");
}

.img-25:hover{
	transition: 0.1s;
	background-image: url("../imagenes-mobiliario-bancos/banco_kinder_02.jpg");
}

.img-26{
	width: 450px;
	height: 300px;
	background-image: url("../imagenes-mobiliario-bancos/banco_uniflug_01.jpg");
}

.img-26:hover{
	transition: 0.1s;
	background-image: url("../imagenes-mobiliario-bancos/banco_uniflug_02.jpg");
}

.img-27{
	width: 450px;
	height: 300px;
	background-image: url("../imagenes-mobiliario-bancos/banco_dong_01.jpg");
}

.img-27:hover{
	transition: 0.1s;
	background-image: url("../imagenes-mobiliario-bancos/banco_dong_02.jpg");
}

.img-28{
	width: 450px;
	height: 300px;
	background-image: url("../imagenes-mobiliario-bancos/banco_eros_01.jpg");
}

.img-28:hover{
	transition: 0.1s;
	background-image: url("../imagenes-mobiliario-bancos/banco_eros_02.jpg");
}






/*para celulares y mas chico*/	
@media screen and (max-width: 1023px) {


	
.img-1:hover{
	transition: 0s !important;
	background-image: url("../imagenes-mobiliario-bancos/banco_anglo_01.jpg") !important;
}


.img-2:hover{
	transition: 0.1s;
	background-image: url("../imagenes-mobiliario-bancos/banco_moe_01.jpg") !important;
}

.img-3:hover{
	transition: 0.1s;
	background-image: url("../imagenes-mobiliario-bancos/banco_flug_01.jpg");
}

.img-4:hover{
	transition: 0.1s;
	background-image: url("../imagenes-mobiliario-bancos/banco_dotsh_01.jpg");
}

.img-5:hover{
	transition: 0.1s;
	background-image: url("../imagenes-mobiliario-bancos/banco_arco_01.jpg")
}

.img-6:hover{
	transition: 0.1s;
	background-image: url("../imagenes-mobiliario-bancos/banco_luka_01.jpg");
}

.img-7:hover{
	transition: 0.1s;
	background-image: url("../imagenes-mobiliario-bancos/banco_peble_01.jpg");
}

.img-8:hover{
	transition: 0.1s;
	background-image: url("../imagenes-mobiliario-bancos/banco_galo_01.jpg");
}

.img-9:hover{
	transition: 0.1s;
	background-image: url("../imagenes-mobiliario-bancos/banco_mold_01.jpg");
}

.img-10:hover{
	transition: 0.1s;
	background-image: url("../imagenes-mobiliario-bancos/banco_box_01.jpg");
}

.img-11:hover{
	transition: 0.1s;
	background-image: url("../imagenes-mobiliario-bancos/banco_logan_01.jpg")
}

.img-12:hover{
	transition: 0.1s;
	background-image: url("../imagenes-mobiliario-bancos/banco_dn_01.jpg");
}

.img-13:hover{
	transition: 0.1s;
	background-image: url("../imagenes-mobiliario-bancos/banco_laminar_01.jpg")
}

.img-14:hover{
	transition: 0.1s;
	background-image: url("../imagenes-mobiliario-bancos/banco_frame_01.jpg");
}

.img-15:hover{
	transition: 0.1s;
	background-image: url("../imagenes-mobiliario-bancos/banco_lazo_01.jpg");
}

.img-16:hover{
	transition: 0.1s;
	background-image: url("../imagenes-mobiliario-bancos/banco_quad_01.jpg");
}

.img-17:hover{
	transition: 0.1s;
	background-image: url("../imagenes-mobiliario-bancos/banco_front_01.jpg");
}

.img-18:hover{
	background-image: url("../imagenes-mobiliario-bancos/banco_alas_01.jpg");
}

.img-19:hover{
	transition: 0.1s;
	background-image: url("../imagenes-mobiliario-bancos/banco_floyd_01.jpg");
}

.img-20:hover{
	transition: 0.1s;
	background-image: url("../imagenes-mobiliario-bancos/banco_emoti_01.jpg");
}

.img-21:hover{
	transition: 0.1s;
	background-image: url("../imagenes-mobiliario-bancos/banco_petalo_01.jpg");
}

.img-22:hover{
	transition: 0.1s;
	background-image: url("../imagenes-mobiliario-bancos/banco_tetris_01.jpg");
}

.img-23:hover{
	transition: 0.1s;
	background-image: url("../imagenes-mobiliario-bancos/banco_retro_01.jpg");
}

.img-24:hover{
	transition: 0.1s;
	background-image: url("../imagenes-mobiliario-bancos/banco_woo_01.jpg");
}

.img-25:hover{
	transition: 0.1s;
	background-image: url("../imagenes-mobiliario-bancos/banco_kinder_01.jpg");
}

.img-26:hover{
	transition: 0.1s;
	background-image: url("../imagenes-mobiliario-bancos/banco_uniflug_01.jpg");
}

.img-27:hover{
	transition: 0.1s;
	background-image: url("../imagenes-mobiliario-bancos/banco_dong_01.jpg");
}
	
.img-28:hover{
	transition: 0.1s;
	background-image: url("../imagenes-mobiliario-bancos/banco_eros_01.jpg");
}
	
	
}































/*-----COMPLETAR CON NUEVOS PRODUCTOS*/



